body{
    font-family: 'Lora', serif;
    background-color: whitesmoke;
    color:black;
}
.info{
    text-align: center;
}
.exp{
    text-align: center;
}
.Inicio{
    text-align: center;
}